.label-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.label-con {
  display: flex;
  align-items: center;
  gap: 2rem; 
  margin: 1px 0;
}
.la {
  width: 60px;
}


