.cls{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;  
    text-align: center; 
    
}
.cls1{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;   
     
}
.cls2{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px; 
    margin-top: 2px; 
    text-align: center;
}
.cls3[readonly] {
    background-color: #f2f2f2; /* light grey */
    color: #555;
    pointer-events: none; /* prevent typing */
    border: 1px solid #ccc;
}