.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
   
}
.login-card{
    display: flex;
    flex-direction: column;
    background-color: rgba(119, 119, 119, 0.228);
    gap: 1rem;
    width: 400px;
    height: 450px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}
.login-card:hover{
    box-shadow: 0 0 1rem #fff;
}
.input-label-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(253, 253, 253, 0.441);
    gap: 1rem;
    width: 350px;
    height: 300px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.label-section{
    margin-bottom: 30px;
}