.history-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    inset: 0;
}
.his-div{
    display: flex;
    flex-direction: column;
    background-color: rgba(119, 119, 119, 0.342);
    gap: .3rem;
    width: 650px;
    height: 500px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}
.his-div:hover{
    box-shadow: 0 0 2rem #fff;
}
.tab{
    background-color: rgba(241, 236, 236, 0.872);  
    width: 600px;
    height: 300px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    scroll-behavior: smooth; 
    display: block;
    position: relative;
}
.tab table{
    width: 100% ;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    color: #333;
    position: absolute;
  
}

.table-con th {
    background-color: #0077ff;
    color: rgb(255, 255, 255);
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    font-size: 14px;
    position: sticky;
    top: 0;
  
}

.table-con td {
    padding: 8px;
    border-bottom: 1px solid #ffffff;
    font-weight: 600;
}

.table-con tbody tr:last-child td {
    border-bottom: none;
}
.tab::-webkit-scrollbar {
display: none;
}
.tab::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;

}
.withdraw-row {
  color: red;
  font-weight: 600;
}

.deposit-row {
  color: green;
  font-weight: 600;
}
